div {
  width: 100px;
  height: 100px;
  animation-name: anime;
  animation-duration: 4s;
  animation-iteration-count: :infinite;
  position: relative;
}
@keyframes anime {
      {background-image; left:100px; top:100px;}
    {background-image; left:200px; top:120px;}
    {background-image; left:200px; top:200px;}
   {background-image; left:150px; top:200px;}
   {background-image;left:50px; top:80px;}

}
